.employeeList_container {
  max-width: 800px;
  margin: 0 auto;
}

.table_wrapper {
  width: 100%;
  overflow: auto;
}

.employeeList_count {
  display: flex;

  justify-content: end;
  align-items: center;
  gap: 40px;
}

.thead {
  background-color: rgb(44, 152, 240);
}

.dp-image {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.search {
  padding: 5px;
  display: flex;
  justify-content: end;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.employee-table th {
  background-color: #f4f4f4;
  cursor: pointer;
}

.employee-table tbody tr:hover {
  background-color: #f1f1f1;
}

.action-btns {
  display: flex;
  gap: 10px;
}

.d-btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(243, 52, 52);
}

.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.paginate-inner {
  display: flex;
  gap: 6px;
}

.paginate-item {
  list-style: none;
}

.paginate-item a {
  text-decoration: none;
  color: black;
}
