.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 14px;
  padding-block: 5px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.logo {
  font-weight: 600;
}

.menu-list {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
}
.btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(52, 183, 243);
  cursor: pointer;
}
.link {
  color: rgb(43, 43, 43);
  text-decoration: none;
}
